@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    /* Set this to avoid layout jank when loading is complete and scrollbar appears. */
    /* Remove if we later make the form component itself be the scroll container */
    overflow-y: scroll;
}

h2 {
    font-size: 1.5rem;
}

ul.bulletlist {
    list-style: inside;
}